## Student Perfromance Indicator

#### Life cycle of Machine learning Project

- Understanding the Problem Statement
- Data Collection
- Data Checks to perform
- Exploratory data analysis
- Data Pre-Processing
- Model Training
- Choose best model

### 1) Problem statement
- This project understands how the student's performance (test scores) is affected by other variables such as Gender, Ethnicity, Parental level of education, Lunch and Test preparation course.


### 2) Data Collection
- Dataset Source - https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
- The data consists of 8 column and 1000 rows.

### 2.1 Import Data and Required Packages
####  Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#### Import the CSV Data as Pandas DataFrame

In [3]:
df = pd.read_csv('data/stud.csv')

#### Show Top 5 Records

In [4]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

#### Shape of the dataset

In [6]:
df.shape

(1000, 8)

### 2.2 Dataset information

- gender : sex of students  -> (Male/female)
- race/ethnicity : ethnicity of students -> (Group A, B,C, D,E)
- parental level of education : parents' final education ->(bachelor's degree,some college,master's degree,associate's degree,high school)
- lunch : having lunch before test (standard or free/reduced) 
- test preparation course : complete or not complete before test
- math score
- reading score
- writing score

### 3. Data Checks to perform

- Check Missing values
- Check Duplicates
- Check data type
- Check the number of unique values of each column
- Check statistics of data set
- Check various categories present in the different categorical column

### 3.1 Check Missing values

#### df.isna().sum()

The expression df.isna().sum() in Python, when used with the pandas library, provides the count of missing values (NaNs) in each column of the DataFrame df. Here's a brief breakdown of how this works:

1) df.isna(): This method returns a DataFrame of the same size as df, where each cell is either True (if the original cell value is NaN) or False (if the cell value is not NaN).

2) .sum(): By default, this method sums values along each column. In the context of the DataFrame returned by df.isna(), it sums the True values (each True is treated as 1 and False as 0). Therefore, this sum represents the total number of NaN values in each column of the original DataFrame.

In [8]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

#### There are no missing values in the data set

### 3.2 Check Duplicates

#### df.duplicated().sum()

The expression df.duplicated().sum() in Python, specifically when using the pandas library, is used to count the number of duplicate rows in a DataFrame df. Hereâ€™s how each part of the expression contributes to this functionality:

1) df.duplicated(): This method returns a Boolean Series indicating whether each row is a duplicate of a row that appeared earlier in the DataFrame. By default, it checks for duplicates across all columns, but you can specify particular columns by passing them as a list to the subset parameter.

2) .sum(): Since the Series returned by df.duplicated() consists of True (for duplicate rows) and False (for unique rows), applying .sum() counts the number of True values, which is the number of duplicated rows.

This method is useful for identifying how many rows are duplicates within your dataset. If you find that you have duplicates and need to handle them, you can use df.drop_duplicates() to remove them, optionally specifying whether to keep the first or last occurrence of each duplicate row.

In [10]:
df.duplicated().sum()

0

#### There are no duplicates  values in the data set

### 3.3 Check data types

In [12]:
# Check Null and Dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB